﻿@model blog.models.BlogModel


@{
    ViewBag.Title = "Create";
}
@*<link href="~/Content/blog/CreateBlog.css" rel="stylesheet" />*@
@section AddToHead{
    <link href="~/Content/blog/CreateBlog.css" rel="stylesheet" />
}
<div class="ui container">

    @Html.AntiForgeryToken()
  @*  @Html.ValidationSummary(true, "", new { @class = "text-danger" })*@
    <form class="ui form" method="post" action="/Blog/Create">
        <div class="five wide field">
            <label>Blog Title</label> <span>@ViewBag.SuccessMessage</span>
            @Html.EditorFor(model => model.BlogTitle)
            @Html.ValidationMessageFor(model => model.BlogTitle, "", new { @class = "text-danger" })
        </div>
        <div class="fifteen wide field">
            <label>Open Your Heart</label>
            @Html.TextAreaFor(model => model.BlogPostData, new { @id = "editor1", @name = "editor1", @class = "textArea", @rows = "18" })


        </div>
        <div class="field">
            <div class="ui checkbox slider">
                @Html.CheckBoxFor(model => model.IsPublic)
                @*  <input type="checkbox" tabindex="0">*@
                <label>Make this public!</label>
            </div>
        </div>
        <button  class="ui small teal submit button" type="submit">Submit</button>
    </form>

</div>
<script src="~/scripts/jquery.unobtrusive-ajax.js"></script>
<script src="~/scripts/jquery.unobtrusive-ajax.min.js"></script>
<script src="~/scripts/Blog/AppBlog.js"></script>
