﻿@model blog.models.BlogModel


@{
    ViewBag.Title = "Edit";
}
@*<link href="~/Content/blog/CreateBlog.css" rel="stylesheet" />*@
@section AddToHead{
    <link href="~/Content/blog/CreateBlog.css" rel="stylesheet" />
}
<div class="ui container">
    <form class="ui form" method="post" action="/Blog/EditBlog">
        <div style="display:none">
            @Html.HiddenFor(model => model.Id)
            @Html.HiddenFor(model => model.BlogTitle)
            @Html.HiddenFor(model => model.WhenCreated)
        </div>
        <div class="ui header" style="font-size: 3em;
        font-family: fell, Georgia, Cambria, Times New Roman, Times, serif"> @Html.DisplayFor(model => model.BlogTitle)</div>

        <div class="fifteen wide field">
            <label>Open Your Heart</label>
            <textarea id="editor1" name="editor1" rows="18">@Html.Raw(HttpUtility.HtmlDecode(Model.BlogPostData))</textarea>
        </div>
        <div class="field">
            <div class="ui checkbox slider">
                @Html.CheckBoxFor(model => model.IsPublic)
                @*  <input type="checkbox" tabindex="0">*@
                <label>Make this public!</label>
            </div>
        </div>
        <button class="ui button postButton" type="submit">Save</button>
    </form>

</div>
<script src="~/scripts/jquery.unobtrusive-ajax.js"></script>
<script src="~/scripts/jquery.unobtrusive-ajax.min.js"></script>
<script src="~/scripts/Blog/AppBlog.js"></script>
