﻿@model IEnumerable<blog.models.BlogModel>

@{
    ViewBag.Title = "View Blogs";
}

@foreach (var item in Model)
{
    <div class="ui container row" >
        <div class="ui items">
            <div class="item">
                <div class="image">
                    @*<img src="/images/wireframe/image.png">*@
                    <i class="user icon huge"></i>
                </div>
                <div class="content">
                    @*<a class="header"> @Html.DisplayFor(modelItem => item.BlogTitle) </a>*@
                    @Html.ActionLink(item.BlogTitle, "GetBlogDetails", new { id = item.Id }, new { @class = "header" })
                    <div class="meta">
                        <span>by @Html.DisplayFor(modelItem => item.AuthorDetails.FirstName) @Html.DisplayFor(modelitem => item.AuthorDetails.LastName)</span>
                    </div>
                    <div class="description" style="max-height:60px; overflow:hidden">
                        <p>@Html.Raw(item.PostDataLimitedWords)...@Html.ActionLink("Click here to read", "GetBlogDetails", new { id = item.Id })</p> @*get the 10 words from the blog details*@
                    </div>
                    <div class="extra">
                        @Html.DisplayFor(modelItem => item.AuthorDetails.Profession) by profession
                    </div>
                </div>
            </div>
        </div>
    </div>
}
