﻿@model blog.models.BlogModel

@{
    ViewBag.Title = "GetBlogDetails";
}
<link href="~/Content/blog/blog.css" rel="stylesheet" />
<div class="ui container" style="padding-top:1%">
    <div class="ui header" style="font-size: 3em;
        font-family: fell, Georgia, Cambria, Times New Roman, Times, serif"> @Html.DisplayFor(model => model.BlogTitle)</div>
        <div>
            by @Html.DisplayFor(model => model.AuthorDetails.FirstName) @Html.DisplayFor(model => model.AuthorDetails.LastName)
            <span style="float:right">
                @Html.DisplayFor(model => model.WhenCreated)
            </span>
        </div>
    @if (Model.AuthorId == Convert.ToInt32(Session["userSessionId"]))
    {
        <div style="text-align:center">
            @Html.ActionLink("Edit", "EditBlog", new { id = Model.Id }, new { @class = "ui button" })

            @Html.ActionLink("Delete", "DeleteBlog", new { id = Model.Id }, new { @class = "ui button" })
        </div>
    }
        
        <div class="ui section divider"></div>

        <div class="blogdetails">@Html.Raw(HttpUtility.HtmlDecode(Model.BlogPostData))</div>
    </div>
    <script>
        $(document).ready(
            function () {
                $('.ui.item')
                    .addClass('active')
                    .siblings('.item')
                    .removeClass('active');

                $('.ui.checkbox')
                    .checkbox();
            });
    </script>

