﻿@model IEnumerable<blog.models.BlogModel>

@{
    ViewBag.Title = "View Blogs";
}
<div class="container" >
    @foreach (var item in Model)
    {

        <div class="ui items">
            <div class="item">
                <div class="image">
                    @*<img src="/images/wireframe/image.png">*@
                    <i class="user icon huge"></i>
                </div>
                <div class="content">
                    @*<a class="header"> @Html.DisplayFor(modelItem => item.BlogTitle) </a>*@
                    @Html.ActionLink(item.BlogTitle, "GetBlogDetails", new { id = item.Id }, new { @class = "header" })
                    <div class="meta">
                        <span>by @Html.DisplayFor(modelItem => item.AuthorDetails.FirstName) @Html.DisplayFor(modelitem => item.AuthorDetails.LastName)</span>
                    </div>
                    <div class="description" style="max-height:60px; overflow:hidden">
                        <p>@Html.Raw(item.PostDataLimitedWords)...@Html.ActionLink("Click here to read", "GetBlogDetails", new { id = item.Id })</p> @*get the 10 words from the blog details*@
                    </div>
                    <div class="extra">
                        @Html.DisplayFor(modelItem => item.AuthorDetails.Profession) by profession
                    </div>
                </div>
                <div>
                    @*<button class="ui button postButton green" type="submit">Publish</button>
        <button class="ui button postButton orange" type="submit">Edit</button>
        <button class="ui button postButton red" type="submit">Delete</button>*@
                    @if (item.IsPublic)
                    {
                        @Html.ActionLink("UnPublish", "TogglePublishBlog", new { id = item.Id }, new { @class = "ui button grey" })
                    }
                    else
                    {
                    @Html.ActionLink("Publish", "TogglePublishBlog", new { id = item.Id }, new { @class = "ui button teal" })
                    }
                    @Html.ActionLink("Edit", "EditBlog", new { id = item.Id }, new { @class = "ui button orange" })
                    @Html.ActionLink("Delete", "DeleteBlog", new { id = item.Id }, new { @class = "ui button red" })
                </div>
            </div>
        </div>

    }
</div>
<script>
    $(document).ready(
        function () {
            $('.ui.item.readmyblogs')
                .addClass('active')
                .siblings('.item')
                .removeClass('active');

            $('.ui.checkbox')
                .checkbox()
                ;
        });
</script>