﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Open Your Heart</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"></script>
    <script src="~/scripts/jquery.unobtrusive-ajax.js"></script>
    <script src="~/scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/scripts/customSemantic/layoutInit.js"></script>
    @*<script src="https://cdn.ckeditor.com/4.16.1/standard/ckeditor.js"></script>*@
        <script src="~/editors/ckeditor/ckeditor.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
    <link href="~/Content/layout/sharedLayout.css" rel="stylesheet" />

</head>
<body class="bgColorBody" style="overflow:hidden;background-color: #f9f9f9">
    <div>
        <div class="container" style="background-color:#F6F8FA">

            <div class="ui secondary pointing menu">
                @Html.ActionLink("Home", "GetAllPublicBlogs", "Blog", new { area = "" }, new { @class = "ui item home active" })
                @Html.ActionLink("Create Blog", "Create", "Blog", new { area = "" }, new { @class = "ui item create" })
                @Html.ActionLink("Read My Blogs", "GetUserBlogs", "Blog", new { area = "" }, new { @class = "ui item readmyblogs" })

                @*open your heart logo*@

                <a href="/Blog/GetAllPublicBlogs" style="margin-left:20%">
                    <img src="~/Content/images/oyh.png" style="height:70%;margin-bottom:-8%" alt="Open Hour Heart" />
                </a>
                @if (User.Identity.IsAuthenticated && Convert.ToInt32(Session["userSessionId"])>0)
                {
                    <div class="right menu">
                        @* @Html.ActionLink("Sign Up", "SignUp", "Account", new { area = "" }, new { @class = "ui item" })*@
                        <div class="ui item">Welcome @User.Identity.Name &nbsp; &nbsp;</div>
                        @Html.ActionLink("Logout", "LogoutUser", "Account", new { area = "" }, new { @class = "ui item" })
                    </div>
                }
                else
                {
                    <div class="right menu">
                        @Html.ActionLink("Sign Up", "SignUp", "Account", new { area = "" }, new { @class = "ui item" })
                        @Html.ActionLink("Login", "Login", "Account", new { area = "" }, new { @class = "ui item" })
                    </div>
                }
            </div>
        </div>
    </div>
    @RenderSection("AddToHead", required: false)
    <div style="padding-top:1%;max-height:92% !important;overflow-y:auto !important">
        @RenderBody()
    </div>

    <footer>
        <p>&copy;Open Your Heart 2021</p>
    </footer>
</body>




</html>