﻿.blogdetails {
    font-family: charter, Georgia, Cambria, "Times New Roman", Times, serif;
    line-height: 32px;
    font-size: 130%;
    word-break: break-word;
    overflow-wrap: break-word;
    color: rgba(41, 41, 41, 1);
}
