﻿@model blog.models.UserModel

@{
    ViewBag.Title = "SignUp";
}

<div style="text-align: center; margin-left: 32%; padding-top: 1%; padding-bottom: 5%; ">
    <div class="column">
        <h2 class="ui teal image header">
            @*<img src="~/Content/images/oyh.png" class="image" />*@
            <span class="content">
                Sign Up with us !!
            </span>
        </h2>

        @*<div style="list-style-type: none;">
            @Html.ValidationSummary("", new { @class = "ui error message" })
        </div>*@
        @using (Html.BeginForm("SignUp", "Account", FormMethod.Post, new { @class = "ui large form" }))
        {
            <div class="ui stacked segment">
                <div class="field">
                    <div class="ui left icon input">
                        @*<input type="text" name="fname" placeholder="Firstname">*@
                        @Html.EditorFor(model => model.AuthorDetails.FirstName, new { htmlAttributes = new { @placeholder = "Firstname" } })

                    </div>
                </div>
                <div class="field">
                    <div class="ui left icon input">
                        @*<input type="text" name="lname" placeholder="Lastname">*@
                        @Html.EditorFor(model => model.AuthorDetails.LastName, new { htmlAttributes = new { @placeholder = "Lastname" } })
                    </div>
                </div>
                <div class="field">
                    <div class="ui left icon input">
                        <i class="user icon"></i>
                        @*<input type="text" name="email" placeholder="E-mail address">*@
                        @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @Name = "email", @placeholder = "E-mail address" } })
                    </div>
                </div>
                <div class="field">
                    <div class="ui left icon input">
                        <i class="lock icon"></i>
                        @*<input type="password" name="password" placeholder="Password">*@
                        @Html.PasswordFor(model => model.Password, new { @Name = "password", @placeholder = "Password" })
                    </div>
                </div>
                <div class="field">
                    <div class="ui left icon input">
                        <i class="lock icon"></i>
                        @*<input type="password" name="confirmpassword" placeholder="Confirm Password">*@
                        @Html.PasswordFor(model => model.ConfirmPassword, new { @Name = "confirmpassword", @placeholder = "Confirm Password" })
                    </div>
                </div>
                @*<div class="ui fluid large teal submit button">Sign Up</div>*@
                <input type="submit" value="Sign Up" class="ui fluid large teal submit button" />
            </div>

            <div class="ui error message"></div>
        }

        <div class="ui message">
            @Html.ActionLink("Login here", "Login")
        </div>
    </div>
</div>
<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script>
    $(document)
        .ready(function () {
            $('.ui.form')
                .form({
                    fields: {
                        fname: {
                            identifier: 'AuthorDetails.FirstName',
                            rules: [
                                {
                                    type: 'empty',
                                    prompt: 'Please enter your first name'
                                },
                                {
                                    type: 'length[3]',
                                    prompt: 'Your name should consists of atleast 3 characters'
                                }
                            ]
                        },
                        email: {
                            identifier: 'email',
                            rules: [
                                
                                {
                                    type: 'email',
                                    prompt: 'Please enter a valid e-mail'
                                }
                            ]
                        },
                        password: {
                            identifier: 'password',
                            rules: [
                                {
                                    type: 'empty',
                                    prompt: 'Please enter your password'
                                },
                                {
                                    type: 'length[6]',
                                    prompt: 'Your password must be at least 6 characters'
                                }
                            ]
                        },
                        confirmpassword: {
                            identifier: 'confirmpassword',
                            rules: [
                                {
                                    type: 'empty',
                                    prompt: 'Please enter Confirm password'
                                },
                                {
                                    type: 'match[password]',
                                    prompt: 'Your confirm password dint match'
                                }
                            ]
                        }
                    }
                })
                ;
        })
        ;
</script>
<style type="text/css">
    body {
        background-color: #DADADA;
    }

        body > .grid {
            height: 100%;
        }

    .image {
        margin-top: -100px;
    }

    .column {
        max-width: 450px;
    }
</style>

